* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --text: #000;
    --sub-text: #808080;
    --gray: #ccc;
    --sub-font: "Segoe UI", Arial, sans-serif;
    --height-header: 46.5px;
}

@font-face {
   font-family: Lato;
   src: url("../fonts/Lato/Lato-Regular.ttf");
}

html {
    font-size: 62.5%;
    font-weight: 400;
    font-family: Lato;
}

body {
    font-size: 1.6rem;
}

a {
    color: var(--text);
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

.title {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.slogan {
    display: block;
    color: var(--sub-text);
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}

.btn {
    font-size: 1.6rem;
    background-color: var(--text);
    color: var(--white);
    padding: 10px 16px;
    margin-bottom: 15px;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
    color: var(--text);
    background-color: var(--gray);
}

.text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 48px;
}

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-header);
    background-color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-list-item {
    padding: 0 24px;

}

.header-list-item:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.header-list-item > a {
    color: var(--white);
    text-decoration: none;
    line-height: var(--height-header);
    text-transform: uppercase;
}

.header-list-item:hover a {
    color: var(--black);
    cursor: pointer;
}

.header-list-item.sub {
    position: relative;
}

.header-sub-list {
    display: none;
    position: absolute;
    top: calc(var(--height-header) + 4px);
    left: 0;
    background-color: var(--white);
}

.header-sub-list::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    background-color: transparent;
    height: 10px;
} 

.sub-list-item {
    padding: 10px 16px;
    min-width: 130px;
}

.sub-list-item > a > .icon {
    float: right;
    transition: transform 0.1s ease;
} 

.sub-list-item:hover > a > .icon {
    transform: rotate(90deg);
}

.sub-list-item:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.header-list-item.sub:hover .header-sub-list {
    display: block;
}

.sub-list-item:last-child {
    position: absolute;
    background-color: var(--white);
}

.sub-list-item:last-child:hover {
    background-color: var(--gray);
}

.sub-second-list {
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 4px);
    background-color: var(--white);
}

.sub-second-list::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    background-color: transparent;

}

.sub-second-list > li {
    padding: 10px 16px;
    min-width: 130px;
}

.sub-second-list > li:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.sub-list-item:last-child:hover .sub-second-list {
    display: block;
}

.header-wrap {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: var(--white);
    height: 35px;
    border-radius: 4px;
    overflow: hidden;
    height: calc(var(--height-header)- 10px);
}

.header-wrap .input {
    padding: 0 8px;
    font-size: 1.6rem;
    outline: none;
    border: none;
}

.header-wrap .header-btn {
    position: relative;
    background-color: var(--gray);
    padding: 0 20px;
    height: calc(var(--height-header) - 10px);
}

.header-wrap .header-btn:hover {
    cursor: pointer;
    background-color: #9c9a9a;
}

.banner {
    height: 100vh;
    background: url("https://www.w3schools.com/w3images/chicago.jpg") no-repeat center / cover;
    position: relative;
    margin-top: var(--height-header);
}

.banner-wrap {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.banner-title {
    font-family: var(--sub-font);
    color: var(--white);
    font-weight: 500;

}

.banner-desc {
    margin-top: 25px;
    color: var(--white);
    font-weight: 600;
}

#band,
.tour-container, #contact {
   padding: 64px 16px;
}

.band-desc {
    text-align: justify;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 1.3;
}

.band-wrap-item {
    flex-basis: 25%;
    padding: 10px;
}

.band-wrap-item .img {
    aspect-ratio: 1/1;
}

.band-wrap-item .name {
    text-align: center;
    margin-bottom: 10px;
}

.band-wrap-item .img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

#tour {
    background-color: var(--text);
}

.tour-title {
    color: var(--white);
}

.tour-reminder.slogan {
    margin-bottom: 40px;
    line-height: 1.5;
}

.tour-time {
    background-color: var(--white);
    margin-bottom: 30px;
}

.list-time-item {
    padding: 8px 16px;
    border-bottom: 1px solid var(--gray);
    line-height: 1.6;
}

.list-time-item > .time {
    color: var(--sub-text);
}

.list-time-item .sold-out {
    display: inline-block;
    margin-left: 10px;
    padding: 0 8px;
    background-color: rgb(255, 55, 0);
    color: var(--white);
}

.list-time-item:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-time-item:last-child > .quanity {
    display: inline-block;
    margin-right: 20px;
    background-color: var(--text);
    color: var(--white);
    padding: 0 8px;
    border-radius: 50%;
}

#tour {
    padding: 32px 0;
}

.tour-ticket {
    display: flex;
    justify-content: space-between;
}

.tour-ticket-item {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    flex-basis: 32%;
    margin-bottom: 4px;
}

.tour-ticket-item > img {
    width: 100%;
}

.tour-ticket-item > img:hover {
    filter: brightness(60%);
}

.tour-ticket-item > .wrap {
    padding: 0 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wrap > .item-title,
.wrap > .item-time,
.wrap > .item-desc {
    margin: 10px 0;
}

.wrap > .item-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 15px;
}

.wrap > .item-time {
    color: var(--sub-text);
}

.wrap > .item-desc {
    min-height: 48px;
    line-height: 1.5;
}

.contact-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.wrap-infor-item {
    font-size: 1.8rem;
    padding: 8px 14px;
}

.infor-item-icon {
    width: 18px;
    height: 18px;
    margin-right: 15px;
}

.wrap-form {
    display: flex;
    flex-direction: column;
}

.sub-wrap-form {
    display: flex;
    flex: 1;
}

.wrap-form input {
    padding: 10px 16px;
    margin-bottom: 10px;
    border: 1px solid var(--gray);
    font-size: 1.5rem;
    width: 100%;
}

.wrap-form-input > input {
    width: 100%;
}

.form-input-name {
    margin-right: 8px;
}

.form-btn {
    align-self: flex-end;
}

.map {
    height: 100vh;
    background: url("https://www.w3schools.com/w3images/map.jpg") no-repeat center/cover;
}

.footer {
    padding: 64px 16px;
    text-align: center;
    color: #666666;
}

.footer .icon:hover {
    color: var(--gray);
}

.footer a {
    color: #666666;
}

.footer p {
    margin: 20px 0;
}

.footer .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.footer > a {
    text-decoration: none;
}

.footer > p > a {
    text-decoration: underline;
}

.svg {
    background-color: white;
    position: relative;
    top: 400px;
    z-index: 99;
}